@font-face {
    font-family: verdana;
    src: url(verdana.ttf);
}

body,
html {
    font-family: verdana;
    height: 100%;
    margin: 0;
}

@media (min-width: 1171px) {
    body #header {
        background-image: url(obrazy/man-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
    }
    body #header p {
        color: white;
        font-size: 3vw;
        margin: 0;
        padding-left: 10%;
        padding-top: 20%;
    }
}

@media (max-width:1170px) {
    body #header {
        background-image: url(obrazy/man-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
    }
    body #header p {
        color: white;
        font-size: 2vw;
        margin: 0;
        padding-left: 66%;
        padding-top: 20%;
    }
}

@media (max-width:991px) {
    body #header {
        background-image: url(obrazy/man-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 50%;
        width: 100%;
    }
    body #header p {
        color: black;
        font-size: 2vw;
        color: black;
        text-align: center;
        padding-left: 0%;
        padding-top: 45%;
    }
    body #header p span {
        font-weight: bolder;
    }
}
